<ion-header>

  <ion-navbar>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="main">
    <div class="content">
      <!-- <div *ngIf="PRICES"> -->
      <div>
        <ion-item>
          <ion-label text-wrap>{{LANGUAGES.txtServiceProvider[LANG]}}:</ion-label>
          <ion-select [(ngModel)]="selected_SP">
            <ion-option *ngFor="let SP of ServiceProviders" [value]="SP" (ionSelect)="selectProvider(SP)">
              {{SP.Center}}</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <br>
        <div *ngIf="selected_SP !=null && PRICES">
          <ion-list>
            <ion-list-header>
              <h3>{{LANGUAGES.txtProstheses[LANG]}}:</h3>
            </ion-list-header>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A1[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A1" name="A1" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A2[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A2" name="A2" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A3[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A3" name="A3" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A4[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A4" name="A4" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A5[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A5" name="A5" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A6[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A6" name="A6" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.A7[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.A7" name="A7" type="number"></ion-input>
            </ion-item><br>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <h3>{{LANGUAGES.txtAccessories[LANG]}}:</h3>
            </ion-list-header>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B1[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B1" name="B1" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B2[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B2" name="B2" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B3[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B3" name="B3" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B4[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B4" name="B4" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B5[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B5" name="B5" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B6[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B6" name="B6" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.B7[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.B7" name="B7" type="number"></ion-input>
            </ion-item><br>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <h3>{{LANGUAGES.txtSubsidies[LANG]}}:</h3>
            </ion-list-header>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.C1[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.C1" name="C1" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.C2[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.C2" name="C2" type="number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label text-wrap>{{ACCESSORIES.C3[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PRICES.C3" name="C3" type="number"></ion-input>
            </ion-item><br>
          </ion-list>

          <ion-grid>
            <ion-row>
              <button ion-button block (click)="update()"
                class="btn-green-price-update">{{LANGUAGES.btnUpdate[LANG]}}</button>
            </ion-row>
          </ion-grid>
        </div>

        <br>
      </div>
    </div>

  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let item of ITEMS; let i = index">
      <ion-label text-wrap>{{item[LANG]}}: </ion-label>
      
    </ion-item>
  </ion-list> -->

  <div *ngFor="let item of ITEMS" (click)="selectItem(item)">
    <p>{{item.VI}} </p>
    <p>{{item.EN}} </p>
    <p>{{item.KEY}}</p>
    <ion-item>
      <ion-label>HCM:</ion-label>
      <ion-input [(ngModel)]="item.HCM" name="HCM" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CTO:</ion-label>
      <ion-input [(ngModel)]="item.CTO" name="CTO" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>DNG:</ion-label>
      <ion-input [(ngModel)]="item.DNG" name="DNG" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>QNH:</ion-label>
      <ion-input [(ngModel)]="item.QNH" name="QNH" type="number"></ion-input>
    </ion-item>
    <!-- <ion-item>
        <ion-label>HCM:</ion-label>
        <ion-input [(ngModel)]="selectedItem.HCM" name="HCM" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>CTO:</ion-label>
        <ion-input [(ngModel)]="selectedItem.CTO" name="CTO" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>DNG:</ion-label>
        <ion-input [(ngModel)]="selectedItem.DNG" name="DNG" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>QNH:</ion-label>
        <ion-input [(ngModel)]="selectedItem.QNH" name="QNH" type="number"></ion-input>
      </ion-item> -->

  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button color="danger" (click)="doCancel()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="doUpdate()">Update</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>