<!-- Generated template for the MyPopularCitiesComponent component -->
<div class="cities">
  <div class="cities1">
    <div class="city">
      <img src="{{cities[0].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[0].city_name}}</div>
      </div>
    </div>
    <div class="city">
      <img src="{{cities[1].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[1].city_name}}</div>
      </div>
    </div>
  </div>
  <div class="cities2">
    <div class="city">
      <img src="{{cities[2].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[2].city_name}}</div>
      </div>
    </div>
    <div class="city">
      <img src="{{cities[3].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[3].city_name}}</div>
      </div>
    </div>
  </div>
  <div class="cities3">
    <div class="city">
      <img src="{{cities[4].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[4].city_name}}</div>
      </div>
    </div>
    <div class="city">
      <img src="{{cities[5].city_url}}" alt="">
      <div class="city-name">
        <div class="city-name-string">{{cities[5].city_name}}</div>
      </div>
    </div>
  </div>
</div>