page-case-questions {
    textarea{
        width: 100%;
        height: 10vh;
    }

    .your_comment{
        background-color: lightgreen ;
        // color: white;
        text-align: right;
    }

    // .right_align{
    //     text-align: right;
    // }
}
