
<ion-header>

  <ion-navbar>
    <ion-title>Combination Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Date of Birth:</ion-label>
    <ion-datetime required displayFormat="MMM DD YYYY" [(ngModel)]="COMBINATION.PAT_YoB" name="PAT_YoB"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Amputation Date:</ion-label>
    <ion-datetime required displayFormat="MMM DD YYYY" [(ngModel)]="COMBINATION.PAT_AMP_DATE" name="PAT_AMP_DATE"></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-label>Service Provider:</ion-label>
    <ion-select [(ngModel)]="COMBINATION.PAT_SP">
      <ion-option value="">--</ion-option>
      <ion-option *ngFor="let SP of SERVICEPROVIDERS" value="{{SP}}">{{SP}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button block (click)="searchCombination()">SEARCH</button>
  <hr>
  <ion-item *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
    <ion-avatar item-start>
      <img src="../../assets/imgs/user.png">
    </ion-avatar>
    <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
    <h3>{{PAT.PAT_DISABLED_PARTS[0]}}</h3>
    <h4>{{PAT.PAT_DISABLED_REASONS}}</h4>
    <span item-end>{{PAT.PAT_STATE}}</span>
  </ion-item>
</ion-content>
