<ion-header>

  <ion-navbar>
    <ion-title>{{TITLE}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>{{lbDoB}}:</ion-label>
    <ion-datetime required displayFormat="DD MM YYYY" [(ngModel)]="COMBINATION.PAT_YoB" name="PAT_YoB"></ion-datetime>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>{{lbAmpDate}}:</ion-label>
    <ion-datetime required displayFormat="DD MM YYYY" [(ngModel)]="COMBINATION.PAT_AMP_DATE" name="PAT_AMP_DATE">
    </ion-datetime>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>{{lbSP}}:</ion-label>
    <ion-select [(ngModel)]="COMBINATION.PAT_SP">
      <ion-option value="">--</ion-option>
      <ion-option *ngFor="let SP of SERVICEPROVIDERS" value="{{SP}}">{{SP}}</ion-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-grid>
    <button ion-button block (click)="searchCombination()" class="btn-green-combination">{{btnSearch}}</button>
  </ion-grid>
  <hr *ngIf="PATIENTS?.length>0">
  <ion-item *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
    <ion-grid>
      <ion-row class="case-boder">
        <ion-col col-4 class="case-img">
          <div class="avata">
            <div class="moveability">MoveAbility</div>
            <!--<div class="newrequest">New Request</div>
            <div class="serviceprovider">MoveAbility</div>-->
            <img src="../../assets/imgs/user_case.png">
          </div>
          <div class="cls"></div>

        </ion-col>
        <ion-col col-8 class="case-info">
          <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
          <h3>{{PAT.PAT_DISABLED_PARTS[0]}}</h3>
          <h4>{{PAT.PAT_DISABLED_REASONS}}</h4>
          <p class="item-invite">{{PAT.PAT_STATE}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>