<!-- Generated template for the MyCompanyInfoComponent component -->
<div class="information">
  <div class="help">
    <h3>Trợ giúp</h3>
    <p>Liên hệ với chúng tôi</p>
    <p>Câu hỏi thường gặp</p>
    <p>Chính sách bảo mật</p>
    <p>Điều khoản sử dụng</p>
  </div>
  <div class="about">
    <h3>Về chúng tôi</h3>
    <p>PointsMAX</p>
    <p>Tuyển dụng</p>
    <p>Truyền thông</p>
  </div>
  <div class="registration">
    <h3>Đăng kí tham gia Hướng dẫn viên</h3>
    <p>Qui định</p>
    <p>Hồ sơ</p>
  </div>
  <div class="download">
    <h3>Tải ứng dụng</h3>
    <p>iOS</p>
    <p>Android</p>
  </div>
</div>