<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="container">
    <div class="main">
      <div>
        <div>
          <ion-item *ngIf="!hasNewAvatar">
            <ion-avatar (click)="takePhoto()">
              <img src="{{USER.U_AVATAR}}" alt="" class="img" onError="this.src='../../assets/imgs/imagenotavailable.png';">
            </ion-avatar>
          </ion-item>
          <ion-item *ngIf="hasNewAvatar">
            <ion-avatar (click)="takePhoto()">
              <img src="{{USER.U_AVATAR[0]}}" alt="" class="img" onError="this.src='../../assets/imgs/imagenotavailable.png';">
            </ion-avatar>
          </ion-item>
        </div>
      </div>
      <form #myForm="ngForm">
        <ion-item>
          <ion-icon name="logo-angular" item-left></ion-icon>
          <ion-input required [(ngModel)]="USER.U_NAME" name="U_NAME" type="text" id="name" placeholder="{{LANGUAGES.txtName[LANG]}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="md-mail" item-start></ion-icon>
          <span (click)="doUpdateEmail()">{{USER.U_EMAIL}}</span>
          <ion-note item-end>
            <span *ngIf="!isVerified" style="color: red" (click)="go2VerifyEmail()">{{LANGUAGES.txtNotVerified[LANG]}}</span>
            <span *ngIf="isVerified" style="color: green">{{LANGUAGES.txtVerified[LANG]}}</span>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-calendar" item-left></ion-icon>
          <ion-input required [(ngModel)]="USER.U_BIRTHDAY" name="U_BIRTHDAY" type="date" id="name" placeholder="{{LANGUAGES.txtBirthday[LANG]}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="md-call" item-left></ion-icon>
          <ion-input required [(ngModel)]="USER.U_TEL" name="U_TEL" type="text" id="name" placeholder="{{LANGUAGES.txtTelephone[LANG]}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="md-home" item-left></ion-icon>
          <ion-input required [(ngModel)]="USER.U_ADDRESS" name="U_ADDRESS" type="text" id="name" placeholder="{{LANGUAGES.txtAddress[LANG]}}"></ion-input>
        </ion-item>
       
      </form>
    
      <button ion-button block (click)="onUpdateProfile(myForm)" [disabled]="!myForm.valid">{{LANGUAGES.txtUpdate[LANG]}}</button>
    </div>
  </div>
</ion-content>