<ion-header>

  <ion-navbar>
    <ion-title>Service Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p>{{QUESTIONS[0]}}</p>
    <ion-item no-lines>
      <ion-label>Value: </ion-label>
      <ion-select [(ngModel)]="FEEDBACKS.FB0" okText="Okay!" name="FB0">
        <ion-option *ngFor="let VALUE of VALUES" value="{{VALUE}}">{{VALUE}}</ion-option>
      </ion-select>
    </ion-item>
    <p>{{QUESTIONS[1]}}</p>
    <ion-item no-lines>
      <ion-label>Value: </ion-label>
      <ion-select [(ngModel)]="FEEDBACKS.FB1" okText="Okay!" name="FB1">
        <ion-option *ngFor="let VALUE of VALUES" value="{{VALUE}}">{{VALUE}}</ion-option>
      </ion-select>
    </ion-item>
    <p>{{QUESTIONS[2]}}</p>
    <ion-item no-lines>
      <ion-label>Value: </ion-label>
      <ion-select [(ngModel)]="FEEDBACKS.FB2" okText="Okay!" name="FB2">
        <ion-option *ngFor="let VALUE of VALUES" value="{{VALUE}}">{{VALUE}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Value: </ion-label>
      <ion-select [(ngModel)]="FEEDBACKS.FB2" okText="Okay!" name="FB2">
        <ion-option *ngFor="let VALUE of VALUES" value="{{VALUE}}">{{VALUE}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block color="danger" (click)="cancel()">Cancel</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="addFeedback()">Add</button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>