<ion-header>

  <ion-navbar>
    <ion-title>language-update</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addNewItem()">
        <ion-icon name="add"></ion-icon>New
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isEdit || isAddNew">
    <ion-item *ngFor="let L of LANGUAGES">
      <ion-label>{{L}}:</ion-label>
      <ion-input type="text" [(ngModel)]="SELECTED_ITEM[L]" placeholoder="Add new here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>KEY:</ion-label>
      <ion-input [disabled]="!isAddNew" type="text" [(ngModel)]="SELECTED_ITEM.KEY" placeholoder="Add new here">
      </ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="cancel()" class="btn-green-job">Cancel</button>
        </ion-col>
        <ion-col *ngIf="isEdit">
          <button ion-button block color="secondary/" (click)="updateItem()" class="btn-green-job">Update</button>
        </ion-col>
        <ion-col *ngIf="isAddNew">
          <button ion-button block (click)="doAddNewItem()" class="btn-green-job">Add</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item ion-item *ngFor="let ITEM of ITEMS; let i = index" (click)="selectItem(ITEM, i)">
    {{ ITEM[LANG] }}
  </ion-item>
</ion-content>