<ion-header>

  <ion-navbar>
    <ion-title>Milestones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="USER?.U_ROLE=='Service Provider'">
    <ion-item *ngFor="let MS of MSDATA;let i = index">
      <ion-label text-wrap>{{MS.MSTEXT}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="MILESTONES[i]">
      </ion-datetime>
    </ion-item>
    <button ion-button block (click)="updateMilestone()">Update</button>
  </div>
  <div *ngIf="USER?.U_ROLE !=='Service Provider'">
    <ion-item *ngFor="let MS of MSDATA;let i = index">
      <ion-label text-wrap>{{MS.MSTEXT}}</ion-label>
      <span item-end class="span">{{MILESTONES[i]}}</span>
    </ion-item>
    <!-- <button ion-button block (click)="updateMilestone()">Update</button> -->
  </div>

</ion-content>