<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="">
  <div id="logo">
    <img src="../../assets/imgs/logo.png" alt="">
    <div>
      <p>Welcome to</p>
      <p><strong>MoveAbility</strong> app</p>
    </div>
  </div>
  <div id="btn-group">
    <div *ngIf="!authService.uid">
      <button (click)="signUp()" class="btn-main">{{LANGUAGES.btnSignUp[LANG]}}</button>
      <button (click)="logIn()" class="btn-main">{{LANGUAGES.btnLogin[LANG]}}</button>
    </div>
    <div *ngIf="authService.uid">
      <button (click)="signOut()" class="btn-main">{{LANGUAGES.btnSignOut[LANG]}}</button>
      <button (click)="go2OwnPage()" class="btn-main">{{LANGUAGES.btnContinue[LANG]}}</button>
    </div>
  </div>
</ion-content>