<!--
  Generated template for the AppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="secondary" (click)="preWeek()">Pre Week</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="nextWeek()">Next Week</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let DATA of DATAS">
      <ion-col col-2>{{DATA.WEEKDAY}}</ion-col>
      <ion-col col-4>{{DATA.DATE}}</ion-col>
      <ion-col col-4>{{ DATA.PATIENTS.length}} patient(s)</ion-col>
      <ion-col col-2>
        <span class="view" (click)="go2CaseList(DATA)">View</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-item *ngFor="let DATA of DATAS">
  <span item-start>{{DATA.WEEKDAY}}</span>
   {{ DATA.DATE }} - {{ DATA.PATIENTS.length}} patient(s)
   <button ion-button clear item-end>View</button>
</ion-item> -->

</ion-content>