<ion-header>

  <ion-navbar>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main">
    <div class="content">
      <ion-grid>
        <ion-row class="btn">
          <ion-col>
            <button (click)="preWeek()" class="btn_orange">{{LANGUAGES.txtPreWeek[LANG]}}</button>
          </ion-col>
          <ion-col>
            <button (click)="nextWeek()" class="btn_green">{{LANGUAGES.txtNextWeek[LANG]}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="headers">
          <ion-col col-2 class="header-appointment">{{LANGUAGES.txtDate[LANG]}}</ion-col>
          <ion-col col-5 class="header-appointment">DD/MM/YYYY</ion-col>
          <ion-col col-5 class="header-end">{{LANGUAGES.txtAppointments[LANG]}}</ion-col>
          <!-- <ion-col col-2 class="header-end">
                  
                </ion-col> -->
        </ion-row>
        <ion-row *ngFor="let DATA of DATAS; let i=index" (click)="go2CaseList(DATA)">
          <ion-col col-2 [ngClass]="{'body-appointment-even': i%2 ==1, 'body-appointment-odd': i%2 ==0}">
            {{DATA.WEEKDAY}}</ion-col>
          <ion-col col-5 [ngClass]="{'body-appointment-even': i%2 ==1, 'body-appointment-odd': i%2 ==0}">
            {{DATA.DATE |date:'dd/MM/yyyy' }}</ion-col>
          <ion-col col-5 [ngClass]="{'body-appointment-even': i%2 ==1, 'body-appointment-odd': i%2 ==0}">{{
            DATA.PATIENTS.length}} patient(s)</ion-col>
          <!-- <ion-col col-2 [ngClass]="{'body-appointment-even': i%2 ==0, 'body-appointment-odd': i%2 ==1}" >
                <span class="view" (click)="go2CaseList(DATA)">View</span>
              </ion-col> -->
        </ion-row>
      </ion-grid>


    </div>
  </div>

  <!-- <ion-item *ngFor="let DATA of DATAS">
  <span item-start>{{DATA.WEEKDAY}}</span>
   {{ DATA.DATE }} - {{ DATA.PATIENTS.length}} patient(s)
   <button ion-button clear item-end>View</button>
</ion-item> -->

</ion-content>