<ion-header>

  <ion-navbar>
    <ion-title>{{lbJobsUpdate[LANG]}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addNewJob()">
        <ion-icon name="add"></ion-icon>New Job
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isEdit || isAddNew">
    <ion-item *ngFor="let L of LANGUAGES">
      <ion-label>{{L}}:</ion-label>
      <ion-input type="text" [(ngModel)]="SELECTED_JOB[L]" placeholoder="Add new job here"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="cancel()" class="btn-green-job">Cancel</button>
        </ion-col>
        <ion-col *ngIf="isEdit">
          <button ion-button block color="secondary/" (click)="updateJob()" class="btn-green-job">Update</button>
        </ion-col>
        <ion-col *ngIf="isAddNew">
          <button ion-button block (click)="doAddNewJob()" class="btn-green-job">Add</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item ion-item *ngFor="let job of JOBS; let i = index" (click)="selectJob(job, i)">
    {{ job[LANG] }}
  </ion-item>
</ion-content>