<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
    <ion-buttons end>
      <button *ngIf="isRefAboutDeleteCaseDraft()" ion-button (click)="deleteByRef()">
        <ion-icon style="font-size: 24px;" name="md-trash"></ion-icon>
      </button>
      <button *ngIf="isMoveabilityUpdateCase()" ion-button (click)="updatePatient()">
        <ion-icon style="font-size: 24px;" name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <div *ngIf="PATIENT">
        <ion-grid>
          <ion-row text-center>
            <ion-col (click)="go2CaseDetail('CaseDocsPage')">
              <ion-icon name="md-document">
                <ion-badge *ngIf="PATIENT.PAT_DOCS.length>0">{{PATIENT.PAT_DOCS.length}}</ion-badge>
              </ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseImagesPage')">
              <ion-icon name="md-images">
                <ion-badge *ngIf="PATIENT.PAT_IMAGES.length>0">{{PATIENT.PAT_IMAGES.length}}</ion-badge>
              </ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseQuestionsPage')">
              <ion-icon name="md-chatboxes">
                <ion-badge *ngIf="PATIENT.PAT_QUESTIONS.length>0">{{PATIENT.PAT_QUESTIONS.length}}</ion-badge>
              </ion-icon>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col (click)="go2CaseDetail('CaseMilestonesPage')">
              <ion-icon name="ios-calendar"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseCostPage')">
              <ion-icon name="logo-usd"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseNotesPage')">
              <ion-icon name="ios-create">
                <ion-badge *ngIf="PATIENT.PAT_NOTES.length>0">{{PATIENT.PAT_NOTES.length}}</ion-badge>
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="PATIENT">
        <ion-item>
          <ion-label>{{LANGUAGES.lbPAT_KIND[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_KIND}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PATIENT.PAT_CASENUMBER">
          <ion-label>{{LANGUAGES.lbPAT_CASENUMBER[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_CASENUMBER}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{LANGUAGES.lbPAT_STATE[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_STATE}}"></ion-input>
        </ion-item>
        <button *ngIf="isMoveAbilityAbout2CheckExisting()" ion-button block
          (click)="checkExistance()">{{LANGUAGES.lbCheckExistance[LANG]}}</button>
      </div>
      <div *ngIf="PATIENT">
        <br>
        <h3>
          {{LANGUAGES.textBasicInfo[LANG]}}:
        </h3>
        <ion-item *ngIf="PRIVACY.PRI_LNAME || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_LNAME[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_LNAME}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PRIVACY.PRI_FNAME || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_FNAME[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_FNAME}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PRIVACY.PRI_YoB || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_YoB[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_YoB |date:'dd/MM/yyyy' }}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PRIVACY.PRI_SEX || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_SEX[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_SEX}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PRIVACY.PRI_TEL || USER.U_ROLE !='Service Provider'">
          <ion-label>Tel:</ion-label>
          <ion-input value="{{PATIENT.PAT_TEL}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="PATIENT.PAT_RES_ID">
          <ion-label>{{LANGUAGES.lbPAT_RES_ID[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_RES_ID}}"></ion-input>
        </ion-item>
        <ion-item>
          <h4>{{LANGUAGES.textResidentAddress[LANG]}}:</h4>
          <ion-grid>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbPROVICE[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_HOME_LOC.CITY}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbDISTRICT[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_HOME_LOC.DIST}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbWARD[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_HOME_LOC.WARD}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbAddress[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_HOME_ADDRESS}}</strong>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <p class="address">{{LANGUAGES.lbPROVICE[LANG]}}: <strong>{{PATIENT.PAT_HOME_LOC.CITY}}</strong></p>
          <p class="address">{{LANGUAGES.lbDISTRICT[LANG]}}: <strong>{{PATIENT.PAT_HOME_LOC.DIST}}</strong></p>
          <p class="address">{{LANGUAGES.lbWARD[LANG]}}: <strong>{{PATIENT.PAT_HOME_LOC.WARD}}</strong></p>
          <p class="address">{{LANGUAGES.lbAddress[LANG]}}: <strong>{{PATIENT.PAT_HOME_ADDRESS}}</strong></p> -->
        </ion-item>
        <ion-item>
          <h4>{{LANGUAGES.textMailingAddress[LANG]}}:</h4>
          <ion-grid>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbPROVICE[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_CONTACT_LOC.CITY}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbDISTRICT[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_CONTACT_LOC.DIST}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbWARD[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_CONTACT_LOC.WARD}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                {{LANGUAGES.lbAddress[LANG]}}:
              </ion-col>
              <ion-col text-right>
                <strong>{{PATIENT.PAT_CONTACT_ADDRESS}}</strong>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <p class="address">{{LANGUAGES.lbPROVICE[LANG]}}: <strong>{{PATIENT.PAT_CONTACT_LOC.CITY}}</strong></p>
          <p class="address">{{LANGUAGES.lbDISTRICT[LANG]}}: <strong>{{PATIENT.PAT_CONTACT_LOC.DIST}}</strong></p>
          <p class="address">{{LANGUAGES.lbWARD[LANG]}}: <strong>{{PATIENT.PAT_CONTACT_LOC.WARD}}</strong></p>
          <p class="address">{{LANGUAGES.lbAddress[LANG]}}: <strong>{{PATIENT.PAT_CONTACT_ADDRESS}}</strong></p> -->
        </ion-item>

        <!-- NEW NON-AMPUTEE -->
        <br>
        <div *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
          <h3>{{LANGUAGES.textNonAmputee[LANG] | uppercase}}:</h3>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_YEAR || USER.U_ROLE !='Service Provider'">
            <ion-label>{{LANGUAGES.lbPAT_DISABLED_YEAR[LANG]}}</ion-label>
            <ion-input value="{{PATIENT.PAT_DISABLED_YEAR|date:'dd/MM/yyyy'}}"></ion-input>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_TYPE || USER.U_ROLE !='Service Provider'">
            <ion-label>{{LANGUAGES.lbPAT_DISABLED_TYPE[LANG]}}</ion-label>
            <ion-input value="{{PATIENT.PAT_DISABLED_TYPE}}"></ion-input>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_PARTS || USER.U_ROLE !='Service Provider'">
            <h4>{{LANGUAGES.lbPAT_DISABLED_PARTS[LANG]}}:</h4>
            <ul>
              <li *ngFor="let item of PATIENT.PAT_DISABLED_PARTS">{{item[LANG]}}</li>
            </ul>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_REASONS || USER.U_ROLE !='Service Provider'">
            <h4>{{LANGUAGES.lbPAT_DISABLED_REASONS[LANG]}}:</h4>
            <ul>
              <li *ngFor="let item of PATIENT.PAT_DISABLED_REASONS">{{item[LANG]}}</li>
            </ul>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_SUPPORT_RECEIVED || USER.U_ROLE !='Service Provider'">
            <ion-label text-wrap>{{LANGUAGES.lbPAT_DISABLED_SUPPORT_RECEIVED[LANG]}}</ion-label>
            <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED"></ion-toggle>
          </ion-item>
          <div *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED">
            <ion-item>
              <ion-label text-wrap>{{LANGUAGES.lbPAT_DISABLED_SUPPORT_TYPE[LANG]}}:</ion-label>
              <ion-input value="{{PATIENT.PAT_DISABLED_SUPPORT_TYPE}}"></ion-input>
            </ion-item> <br>
            <ion-item *ngIf="PRIVACY.PRI_DISABLED_SUPPORT_RECEIVED_YEAR || USER.U_ROLE !='Service Provider'">
              <ion-label>{{LANGUAGES.lbPAT_DISABLED_SUPPORT_RECEIVED_YEAR[LANG]}}</ion-label>
              <ion-input value="{{PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR |date:'dd/MM/yyyy' }}"></ion-input>
            </ion-item> <br>
            <ion-item *ngIf="PRIVACY.PRI_DISABLED_LAST_SUPPORT_YEAR || USER.U_ROLE !='Service Provider'">
              <ion-label>{{LANGUAGES.lbPAT_DISABLED_LAST_SUPPORT_YEAR[LANG]}}</ion-label>
              <ion-input value="{{PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR |date:'dd/MM/yyyy' }}"></ion-input>
            </ion-item> <br>
            <ion-item *ngIf="PRIVACY.PRI_DISABLED_LAST_SUPPORT_SPONSORS || USER.U_ROLE !='Service Provider'">
              <h4>{{LANGUAGES.lbPAT_DISABLED_LAST_SUPPORT_SPONSORS[LANG]}}</h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
          </div>
        </div>

        <!-- NEW AMPUTEE -->
        <br>
        <div *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
          <h3>{{LANGUAGES.textAmputee[LANG] | uppercase}}:</h3>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_YEAR || USER.U_ROLE !='Service Provider'">
            <ion-label>{{LANGUAGES.lbPAT_AMPUTATION_YEAR[LANG]}}</ion-label>
            <ion-input value="{{PATIENT.PAT_AMPUTATION_YEAR |date:'dd/MM/yyyy' }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_PARTS || USER.U_ROLE !='Service Provider'">
            <h4>{{LANGUAGES.lbPAT_AMPUTATION_PARTS[LANG]}}:</h4>
            <ul>
              <li *ngFor="let item of PATIENT.PAT_AMPUTATION_PARTS">{{item[LANG]}}</li>
            </ul>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_REASONS || USER.U_ROLE !='Service Provider'">
            <h4>{{LANGUAGES.lbPAT_AMPUTATION_REASONS[LANG]}}:</h4>
            <ul>
              <li *ngFor="let item of PATIENT.PAT_AMPUTATION_REASONS">{{item[LANG]}}</li>
            </ul>
          </ion-item>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LEGS || USER.U_ROLE !='Service Provider'">
            <ion-label text-wrap>{{LANGUAGES.lbPAT_AMPUTATION_LEGS[LANG]}}</ion-label>
            <ion-input value="{{PATIENT.PAT_AMPUTATION_LEGS}}"></ion-input>
          </ion-item>
          <div *ngIf="PATIENT.PAT_AMPUTATION_LEGS !=='0' && PATIENT.PAT_AMPUTATION_LEGS !==''">
            <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LAST_LEG_YEAR || USER.U_ROLE !='Service Provider'">
              <ion-label text-wrap>{{LANGUAGES.lbPAT_AMPUTATION_LAST_LEG_YEAR[LANG]}}</ion-label>
              <ion-input value="{{PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR |date:'dd/MM/yyyy' }}"></ion-input>
            </ion-item>
            <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LAST_SPONSORS || USER.U_ROLE !='Service Provider'">
              <h4>{{LANGUAGES.lbPAT_AMPUTATION_LAST_SPONSORS[LANG]}}</h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_AMPUTATION_LAST_SPONSORS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
          </div>
        </div>

        <h3>
          {{LANGUAGES.textOTHER[LANG] | uppercase}}:
        </h3>
        <ion-item *ngIf="PRIVACY.PRI_JOB || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_JOB[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_JOB[LANG]}}"></ion-input>
        </ion-item> <br>
        <ion-item *ngIf="PRIVACY.PRI_DATE_CREATE || USER.U_ROLE !='Service Provider'">
          <ion-label>{{LANGUAGES.lbPAT_DATE_CREATE[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_DATE_CREATE |date:'dd/MM/yyyy' }}"></ion-input>
        </ion-item> <br>
        <ion-item *ngIf="PATIENT.PAT_FOLLOWUP && PATIENT.PAT_FOLLOWUP !=='0000-00-00'">
          <ion-label>{{LANGUAGES.lbPAT_FOLLOWUP[LANG]}}:</ion-label>
          <ion-input value="{{PATIENT.PAT_FOLLOWUP |date:'dd/MM/yyyy' }}"></ion-input>
        </ion-item> <br>
      </div>
      <ion-item *ngIf="isMoveAbility2ApproveRejectAcceptedCase()">
        <ion-label>{{LANGUAGES.lbServiceProvider[LANG]}}:</ion-label>
        <ion-select [(ngModel)]="selectedSVP" (ionChange)="selectServiceProvider()">
          <ion-option value="">--</ion-option>
          <ion-option *ngFor="let SVP of SVPs" [value]="SVP">{{SVP.Center}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isMoveAbility2ApproveRejectAcceptedCase()">
        <ion-label>{{LANGUAGES.lbPAT_CASENUMBER[LANG]}}:</ion-label>
        <ion-input [(ngModel)]="PATIENT.PAT_CASENUMBER" name="PAT_CASENUMBER"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row *ngIf="isMoveAbility2ApproveRejectAcceptedCase()">
          <ion-col><button ion-button block color="danger"
              (click)="updateCaseByMoveAbility('REJECTED')">{{LANGUAGES.btnReject[LANG]}}</button></ion-col>
          <ion-col><button ion-button block
              (click)="updateCaseByMoveAbility('APPROVED')">{{LANGUAGES.btnApprove[LANG]}}</button></ion-col>
        </ion-row>
        <ion-row *ngIf="isMoveAbility2ApprovePaymentRequest()">
          <ion-col><button ion-button block color="danger"
              (click)="updateCaseByMoveAbility('UNDER TREATMENT')">{{btnRejectPayment}}</button></ion-col>
          <ion-col><button ion-button block
              (click)="updateCaseByMoveAbility('PAYMENT APPROVED')">{{btnApprovePayment}}</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isMoveAbility2SetCasePaid()">
          <ion-col><button ion-button block (click)="updateCaseByMoveAbility('PAID')">{{btnSetPaid}}</button></ion-col>
        </ion-row>
        <ion-row *ngIf="isMoveAbility2SetCaseClosed()">
          <ion-col><button ion-button block (click)="updateCaseByMoveAbility('CLOSED')">{{btnSetClosed}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row *ngIf="isReferralUpdateDraftCase()">
          <ion-col>
            <button ion-button block color="danger" (click)="cancel()">{{LANGUAGES.btnCancel[LANG]}}</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="updatePatient()">{{LANGUAGES.btnUpdate[LANG]}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row *ngIf="isRefLead2AcceptDenySubmittedCase()">
          <ion-col>
            <button block color="danger" (click)="updateCaseByReferralLead('DENIED')"
              class="btn-green-case-information">{{LANGUAGES.btnDeny[LANG]}}</button>
          </ion-col>
          <ion-col>
            <button block (click)="updateCaseByReferralLead('ACCEPTED')"
              class="btn-green-case-information">{{LANGUAGES.btnAccept[LANG]}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>