<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{TITLE}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <div *ngIf="PATIENT">
        <ion-grid>
          <ion-row text-center>
            <ion-col (click)="go2CaseDetail('CaseDocsPage')">
              <ion-icon name="md-document"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseImagesPage')">
              <ion-icon name="md-images"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseQuestionsPage')">
              <ion-icon name="md-chatboxes"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col (click)="go2CaseDetail('CaseMilestonesPage')">
              <ion-icon name="ios-calendar"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseCostPage')">
              <ion-icon name="logo-usd"></ion-icon>
            </ion-col>
            <ion-col (click)="go2CaseDetail('CaseNotesPage')">
              <ion-icon name="ios-create"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="PATIENT">
        <ion-item no-lines>
          <ion-label stacked>{{lbPAT_KIND}}:</ion-label>
          <ion-input placeholder="{{PATIENT.PAT_KIND}}"></ion-input>
        </ion-item> <br>
        <ion-item no-lines>
          <ion-label stacked>{{lbPAT_STATE}}:</ion-label>
          <ion-input placeholder="{{PATIENT.PAT_STATE}}"></ion-input>
        </ion-item> <br>
      </div>
      <div *ngIf="PATIENT && PATIENT.PAT_KIND !=='NONE'">
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              {{textBasicInfo}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_FNAME}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_FNAME}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_LNAME}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_LNAME}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_YoB}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_YoB}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_SEX}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_SEX}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>Tel:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_TEL}}"></ion-input>
          </ion-item> <br>
        </ion-list>

        <ion-list>
          <ion-list-header no-lines>
            <h3>
              {{textMailingAddress}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPROVICE}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.CITY}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbDISTRICT}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.DIST}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbWARD}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.WARD}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbAddress}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_CONTACT_ADDRESS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              {{textResidentAddress}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPROVICE}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.CITY}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbDISTRICT}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.DIST}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbWARD}}:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.WARD}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbAddress}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_HOME_ADDRESS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
          <ion-list-header no-lines>
            <h3>
              {{textNonAmputee}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_YEAR}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_TYPE}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_TYPE}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>lbPAT_DISABLED_PARTS:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_PARTS}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_REASONS}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_REASONS}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_SUPPORT_RECEIVED}}:</ion-label>
            <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED"></ion-toggle>
          </ion-item> <br>
          <ion-item *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED">
            <ion-label stacked>{{lbPAT_DISABLED_SUPPORT_TYPE}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_SUPPORT_TYPE}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_SUPPORT_RECEIVED_YEAR}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_LAST_SUPPORT_YEAR}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DISABLED_LAST_SUPPORT_SPONSORS}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
          <ion-list-header no-lines>
            <h3>
              {{textAmputee}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_YEAR}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_PARTS}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_PARTS}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_REASONS}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_REASONS}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_LEGS}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LEGS}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_LAST_LEG_YEAR}}</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_AMPUTATION_LAST_SPONSORS}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LAST_SPONSORS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              {{textOTHER}}:
            </h3>
          </ion-list-header>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_JOB}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_JOB}}"></ion-input>
          </ion-item> <br>
          <ion-item no-lines>
            <ion-label stacked>{{lbPAT_DATE_CREATE}}:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DATE_CREATE}}"></ion-input>
          </ion-item> <br>
        </ion-list>

      </div>
      <!-- <div *ngIf="PATIENT && PATIENT.PAT_KIND !=='NONE' && USER.U_ROLE =='Service Provider' ">
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              BASIC INFORMATION:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_FNAME">
            <ion-label stacked>First Name:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_FNAME}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_LNAME">
            <ion-label stacked>Last Name:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_LNAME}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_YoB">
            <ion-label stacked>Date of Birth:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_YoB}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_SEX">
            <ion-label stacked>Gender:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_SEX}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_TEL">
            <ion-label stacked>Tel:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_TEL}}"></ion-input>
          </ion-item> <br>
        </ion-list>

        <ion-list>
          <ion-list-header no-lines>
            <h3>
              MAILING ADDRESS:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_CONTACT_CITY">
            <ion-label stacked>PROVINCE:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.CITY}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_CONTACT_DIST">
            <ion-label stacked>DISTRICT:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.DIST}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_CONTACT_WARD">
            <ion-label stacked>WARD:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_CONTACT_LOC.WARD}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_CONTACT_ADDRESS">
            <ion-label stacked>Address:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_CONTACT_ADDRESS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              RESIDENCE ADDRESS:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_HOME_CITY">
            <ion-label stacked>PROVINCE:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.CITY}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_HOME_DIST">
            <ion-label stacked>DISTRICT:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.DIST}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_HOME_WARD">
            <ion-label stacked>WARD:</ion-label>
            <ion-input type="text" placeholder="{{PATIENT.PAT_HOME_LOC.WARD}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_HOME_ADDRESS">
            <ion-label stacked>Address:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_HOME_ADDRESS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
          <ion-list-header no-lines>
            <h3>
              NON AMPUTEE:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_YEAR">
            <ion-label stacked>Year of Disability</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_TYPE">
            <ion-label stacked>Type of Disability</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_TYPE}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_PARTS">
            <ion-label stacked>Disabled Parts:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_PARTS}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_REASONS">
            <ion-label stacked>Disabled Reasons</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_REASONS}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_SUPPORT_RECEIVED">
            <ion-label stacked>Received support before?:</ion-label>
            <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED"></ion-toggle>
          </ion-item> <br>
          <ion-item *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED && PRIVACY.PRI_DISABLED_SUPPORT_TYPE">
            <ion-label stacked>What support?:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_SUPPORT_TYPE}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_SUPPORT_RECEIVED_YEAR">
            <ion-label stacked>Year of Received Support</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_LAST_SUPPORT_YEAR">
            <ion-label stacked>Year of Last Support</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DISABLED_LAST_SUPPORT_SPONSORS">
            <ion-label stacked>Disabled Last Sponsors:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
          <ion-list-header no-lines>
            <h3>
              AMPUTEE:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_YEAR">
            <ion-label stacked>AMPUTATION DATE</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_PARTS">
            <ion-label stacked>AMPUTATION LEVELs:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_PARTS}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_REASONS">
            <ion-label stacked>AMPUTATION CAUSE:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_REASONS}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LEGS">
            <ion-label stacked>How many amputations:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LEGS}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LAST_LEG_YEAR">
            <ion-label stacked>LAST FITTING DATE</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_AMPUTATION_LAST_SPONSORS">
            <ion-label stacked>AMPUTATION SPONSOR:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_AMPUTATION_LAST_SPONSORS}}"></ion-input>
          </ion-item> <br>
        </ion-list>
        <ion-list>
          <ion-list-header no-lines>
            <h3>
              OTHER:
            </h3>
          </ion-list-header>
          <ion-item *ngIf="PRIVACY.PRI_JOB">
            <ion-label stacked>YOUR CURRENT JOB:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_JOB}}"></ion-input>
          </ion-item> <br>
          <ion-item *ngIf="PRIVACY.PRI_DATE_CREATE">
            <ion-label stacked>Created on:</ion-label>
            <ion-input placeholder="{{PATIENT.PAT_DATE_CREATE}}"></ion-input>
          </ion-item> <br>
        </ion-list>

      </div> -->

      <div *ngIf="!hidden">
        <div *ngIf="USER.U_ROLE =='Referral Lead' && PATIENT.PAT_STATE =='SUBMITTED'">
          <!-- <ion-item no-lines>
              <ion-label>MoveAbility:</ion-label>
              <ion-select [(ngModel)]="PATIENT.PAT_MOVEABILITY">
                <ion-option *ngFor="let MOVE of MOVEABILITIES" value="{{MOVE}}">{{MOVE}}</ion-option>
              </ion-select>
            </ion-item> <br> -->
          <ion-grid>
            <ion-row>
              <ion-col>
                <button block color="danger" (click)="updateCaseByReferralLead('DENIED')" class="btn-green-case-information">DENY</button>
              </ion-col>
              <ion-col>
                <button block (click)="updateCaseByReferralLead('ACCEPTED')" class="btn-green-case-information">ACCEPTED</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="USER.U_ROLE =='MoveAbility'">
          <ion-item no-lines>
            <ion-label stacked>Service Provider:</ion-label>
            <ion-select [(ngModel)]="PATIENT.PAT_SVP">
              <ion-option value="">--</ion-option>
              <ion-option *ngFor="let SP of SERVICEPROVIDERS" value="{{SP}}">{{SP}}</ion-option>
            </ion-select>
          </ion-item> <br>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button block color="danger" (click)="updateCaseByMoveAbility('REJECTED')" class="btn-green-case-information">REJECT</button>
              </ion-col>
              <ion-col>
                <button block (click)="updateCaseByMoveAbility('APPROVED')" class="btn-green-case-information">APPROVE</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="USER.U_ROLE =='Referral'&& PATIENT.PAT_STATE =='DRAFT'">
          <button block (click)="updateDraft()" class="btn-green-case-information">UPDATE DRAFT</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>