<ion-header>

  <ion-navbar>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="USER">
    <ion-item>
      <ion-avatar>
        <img src="{{USER.U_AVATAR}}" alt="" class="img" onError="this.src='../../assets/imgs/user.png';">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtName[LANG]}}:</ion-label>
      <ion-input placeholder="{{USER.U_NAME}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtEmail[LANG]}}:</ion-label>
      <ion-input placeholder="{{USER.U_EMAIL}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtTel[LANG]}}:</ion-label>
      <ion-input placeholder="{{USER.U_TEL}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtBirthday[LANG]}}:</ion-label>
      <ion-input placeholder="{{USER.U_BIRTHDAY}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtAddress[LANG]}}:</ion-label>
      <ion-input placeholder="{{USER.U_ADDRESS}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{LANGUAGES.txtRole[LANG]}}:</ion-label>
      <!-- <ion-input placeholder="{{USER.U_ROLE}}"></ion-input> -->
      <ion-select [(ngModel)]="USER.U_ROLE" placeholder="{{USER.U_ROLE}}">
        <ion-option *ngFor="let ROLE of ROLES" value="{{ROLE}}">{{ROLE}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="USER.U_ROLE =='Service Provider'">
      <ion-label>{{LANGUAGES.txtFromOrg[LANG]}}:</ion-label>
      <button ion-button item-end (click)="selectProvider()">{{USER.U_ORG.Center}}</button>
    </ion-item>
    <ion-item *ngIf="USER.U_ROLE !=='Service Provider'">
      <ion-label>{{LANGUAGES.txtFromOrg[LANG]}}:</ion-label>
      <button ion-button item-end>MoveAbility</button>
    </ion-item>
    <!-- <div *ngIf="SERVICEPROVIDERS && ACCOUNT.U_ROLE =='Service Provider'">
      <label>{{LANGUAGES.lableOrg[LANG]}}:</label>
      <select [(ngModel)]="ACCOUNT.U_ORG">
        <option value="" disabled selected hidden>{{LANGUAGES.optionOrg[LANG]}}</option>
        <option *ngFor="let SVC of SERVICEPROVIDERS" [ngValue]="SVC.id">{{SVC.Center}}</option>
      </select>
    </div> -->
    <ion-item>
      <ion-label>{{LANGUAGES.txtState[LANG]}}:</ion-label>
      <!-- <ion-input placeholder="{{USER.U_STATE}}"></ion-input> -->
      <ion-select [(ngModel)]="USER.U_STATE" placeholder="{{USER.U_STATE}}">
        <ion-option *ngFor="let STATE of STATES" value="{{STATE}}">{{STATE}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtValidFrom[LANG]}}:</ion-label>
      <!-- <ion-input placeholder="{{USER.U_VALID_FROM}}"></ion-input> -->
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="USER.U_VALID_FROM" placeholder="Select" max="{{MAX_DATE}}">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{LANGUAGES.txtValidTo[LANG]}}:</ion-label>
      <!-- <ion-input placeholder="{{USER.U_VALID_TO}}"></ion-input> -->
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="USER.U_VALID_TO" placeholder="Select" max="{{MAX_DATE}}">
      </ion-datetime>
    </ion-item>
  </div>
  <button ion-button block (click)="updateUser()">{{LANGUAGES.txtUpdate[LANG]}}</button>
</ion-content>