<ion-header>

  <ion-navbar>
    <ion-title>{{TITLE}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="SEARCH_METHOD">
      <ion-segment-button value="ID">
        By ID
      </ion-segment-button>
      <ion-segment-button value="LOC">
        By Provice
      </ion-segment-button>
      <!-- <ion-segment-button value="DATE">
        By Date
      </ion-segment-button> -->
    </ion-segment>
  </div>
  <div padding *ngIf="SEARCH_METHOD=='LOC'">
    <ion-item *ngIf="CITIES" no-lines>
      <ion-label>{{labelPROVICE}}:</ion-label>
      <ion-select>
        <ion-option *ngFor="let CITY of CITIES" value="{{CITY.CCODE}}" (ionSelect)="selectCity(CITY)">{{CITY.CITY}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="DIST_IN_CITY.length>0" no-lines>
      <ion-label>{{labelDISTRICT}}:</ion-label>
      <ion-select>
        <ion-option *ngFor="let DIST of DIST_IN_CITY" value="{{DIST.DCODE}}" (ionSelect)="selectDist(DIST)">{{DIST.DIST}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="WARDS_IN_DIST.length>0" no-lines>
      <ion-label>{{labelWARD}}:</ion-label>
      <ion-select>
        <ion-option *ngFor="let WARD of WARDS_IN_DIST" value="{{WARD.WCODE}}" (ionSelect)="selectWard(WARD)">{{WARD.WARD}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="SEARCH_DATA.LOC">
      <input type="text" placeholder="{{placeholderSearch}}" (keyup)="searchStr(searchInput)" #searchInput>
    </ion-item>
  </div>

  <div padding *ngIf="SEARCH_METHOD=='ID'">
    <ion-searchbar animated="true" type="number" placeholder="{{placeholderIDSearch}}" #ID></ion-searchbar>
    <button ion-button block (click)="searchByID(ID)">{{btnSearch}}</button>
  </div>

  <div padding *ngIf="SEARCH_METHOD=='DATE'">

    <ion-list radio-group [(ngModel)]="kindOfDate">

      <ion-list-header>
        Select one:
      </ion-list-header>

      <ion-item>
        <ion-label>Case Created Date</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Invitation Valid From Date</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Invitation Valid To Date</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Birth Date</ion-label>
        <ion-radio value="4"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Range of Time</ion-label>
        <ion-radio value="5"></ion-radio>
      </ion-item>

    </ion-list>
    <div *ngIf="kindOfDate>0 && kindOfDate<5">
      <ion-item>
        <ion-label>Select Date:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate.Date"></ion-datetime>
      </ion-item>
    </div>
    <div *ngIf="kindOfDate>4">
      <ion-item>
        <ion-label>From:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate.From"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>To:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate.To"></ion-datetime>
      </ion-item>
    </div>
    <button ion-button block (click)="searchByDateCondition()">{{btnSearch}}</button>
  </div>

  <div padding>
    <ion-item *ngFor="let PAT of filterPatients" (click)="go2CaseView(PAT)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/user.png">
      </ion-avatar>
      <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
      <h3>{{DoB}}: {{PAT.PAT_YoB}}</h3>
      <h4>{{From}}: {{PAT.PAT_HOME_LOC.DIST}}, {{PAT.PAT_HOME_LOC.CITY}}</h4>
      <span item-end>{{PAT.PAT_STATE}}</span>
    </ion-item>
  </div>

</ion-content>