<ion-header>

  <ion-navbar>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
    <ion-avatar item-start>
      <img src="../../assets/imgs/user.png">
    </ion-avatar>
    <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
    <h3>{{PAT.PAT_KIND}}</h3>
    <h4>{{PAT.PAT_CONTACT_LOC.DIST}}, {{PAT.PAT_CONTACT_LOC.CITY}}</h4>
    <!-- <h3><span *ngFor="let Part of PAT.PAT_DISABLED_PARTS">{{Part[LANG]}}</span></h3>
    <h3><span *ngFor="let Reason of PAT.PAT_DISABLED_REASONS">{{Reason[LANG]}}</span></h3> -->
    <span item-end>{{PAT.PAT_STATE}}</span>
  </ion-item>
</ion-content>