<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{TITLE}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main">
    <div class="content">
      <ion-searchbar [(ngModel)]="SEARCHSTR" placeholder="{{txtPlaceholder}}"></ion-searchbar>
      <button [disabled]="SEARCHSTR.trim().length<1" ion-button block (click)="checkExistance()" class="btn-green-case-precheck">{{btnCheckExistance}}</button>
      <div *ngIf="PATIENTS.length>0">
        <p>{{textAlert}}</p>
        <ion-item *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
          <ion-avatar item-start>
            <img src="../../assets/imgs/user.png">
          </ion-avatar>
          <h2>{{PAT.PAT_FNAME}} {{PAT.PAT_LNAME}} </h2>
          <h3>{{PAT.PAT_DISABLED_PARTS[0]}}</h3>
          <h4>{{PAT.PAT_DISABLED_REASONS}}</h4>
          <span item-end>{{PAT.PAT_STATE}}</span>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>