<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="content">
  <div class="container">
    <div class="main">
      <ion-list>
        <ion-list-header>
          {{LANGUAGES.lbAccount[LANG]}}
        </ion-list-header>
        <div *ngIf="!isSigned">
          <ion-item (click)="go2AccountPage('reset-account')">
            <ion-label>
              {{LANGUAGES.lbResetAccount[LANG]}}
            </ion-label>
            <ion-icon name='ios-checkbox-outline' item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbLanguages[LANG]}}:</ion-label>
            <ion-select [(ngModel)]="Language" (ionChange)="selectLanguage(Language)">
              <ion-option *ngFor="let LANG of Languages" [value]="LANG">{{LANG.LONGNAME}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div *ngIf="isSigned">
          <ion-item (click)="onSignOut()">
            <ion-label>
              {{LANGUAGES.lbSignOut[LANG]}}
            </ion-label>
            <ion-icon name='ios-log-out-outline' item-left></ion-icon>
          </ion-item>
        </div>
        <div *ngIf="isSigned">
          <ion-item (click)="go2ProfilePage()">
            <ion-label>
              {{LANGUAGES.lbUpdateProfile[LANG]}}
            </ion-label>
            <ion-icon name='ios-create-outline' item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbLanguages[LANG]}}:</ion-label>
            <ion-select [(ngModel)]="Language" (ionChange)="selectLanguage(Language)">
              <ion-option *ngFor="let LANG of Languages" [value]="LANG">{{LANG.LONGNAME}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>