page-cases-referral {

}

.case-img
{
    background: #ffffff;
}
.case-info{
    background: #f2f2f2;
    padding: 10px;
}
.case-boder{
    border: 1px solid #828282;
    border-radius: 0px;
}
.case-info h2, .case-info h4, .case-info p{
    color: #898989;
}
.case-info h2{
    color: #898989;
    font-weight: bold;
}
/*.moveability{
    background: #71bf45;
    width: 100%;
    padding: 5px;
}*/
/*.item-ios ion-avatar img {
    border-radius: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
*/
.avata
  {
    position: relative;
    z-index: 1000;
    margin-bottom: -4px;
  }
  .moveability
  {
    background: #71bf45;
    width: 110%;
    height: 30px;
    z-index: 1001;
    position: absolute;
    margin-left: -5px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    padding: 0px;
    bottom: 0;
    padding-top: 5px;
    font-weight: bold;
    }

    .newrequest
    {
      background: #fbb03b;
      width: 110%;
      height: 30px;
      z-index: 1001;
      position: absolute;
      margin-left: -5px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      padding: 0px;
      bottom: 0;
      padding-top: 5px;
      font-weight: bold;
      }

      .serviceprovider
      {
        background: #ff0000;
        width: 110%;
        height: 30px;
        z-index: 1001;
        position: absolute;
        margin-left: -5px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        padding: 0px;
        bottom: 0;
        padding-top: 5px;
        font-weight: bold;
        }

    .item-invite{
        background: #71bf45;
        border-radius: 10px;
        height: 40px;
        width: 70%;
        text-align: center;
        color: #ffffff !important;
        display: inline;
        float: right;
        margin: 20px 0 0 0 !important;
        text-transform: uppercase;
        font-size: 15px !important;
        padding-top: 10px;
    }


