<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.lbItemsUpdate[LANG]}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addNewItem()">
        <ion-icon name="add"></ion-icon>{{LANGUAGES.lbNew[LANG]}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isEdit || isAddNew">
    <ion-item *ngFor="let L of LANGS">
      <ion-label>{{L}}:</ion-label>
      <ion-input type="text" [(ngModel)]="SELECTED_ITEM[L]" placeholoder="Add new here"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="cancel()" class="btn-green-job">{{LANGUAGES.lbCancel[LANG]}}</button>
        </ion-col>
        <ion-col *ngIf="isEdit">
          <button ion-button block color="secondary" (click)="updateItem()" class="btn-green-job">{{LANGUAGES.lbUpdate[LANG]}}</button>
        </ion-col>
        <ion-col *ngIf="isAddNew">
          <button ion-button block (click)="doAddNewItem()" class="btn-green-job">{{LANGUAGES.lbAdd[LANG]}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item ion-item *ngFor="let ITEM of ITEMS; let i = index" (click)="selectItem(ITEM, i)">
    {{ ITEM[LANG] }}
  </ion-item>
</ion-content>