page-account {

    .container{
        background-color: lightgray;
        height: 100%;
        // border-radius: 5px;
        background-image: url(none);
    }

    .container .main{
        border-radius: 5px;
    }

}
