<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="ACTION=='add-new'">{{LANGUAGES.lbCaseCreation[LANG]}}</ion-title>
    <ion-title *ngIf="ACTION=='update'">UPDATE</ion-title>
    <ion-buttons end>
      <button *ngIf="isSaveDraft()" ion-button (click)="saveDraft()">
        <ion-icon name="md-bookmarks"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <form #f="ngForm">
        <div *ngIf="PATIENT">
          <ion-item>
            <ion-label>{{LANGUAGES.lbKindOfPatient[LANG]}}:</ion-label>
            <ion-select [(ngModel)]="PATIENT.PAT_KIND" name="PAT_KIND">
              <ion-option value="NONE"></ion-option>
              <ion-option value="NON AMPUTEE">{{LANGUAGES.lbNonAmputee[LANG]}}</ion-option>
              <ion-option value="AMPUTEE">{{LANGUAGES.lbAmputee[LANG]}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="isMoveAbility()">
            <ion-label>{{LANGUAGES.lbPAT_CASENUMBER[LANG]}}:</ion-label>
            <ion-input [(ngModel)]="PATIENT.PAT_CASENUMBER" name="PAT_CASENUMBER"></ion-input>
          </ion-item>
          <ion-item *ngIf="isMoveAbility()">
            <ion-label>{{LANGUAGES.lbStateOfPatient[LANG]}}:</ion-label>
            <ion-select [(ngModel)]="PATIENT.PAT_STATE" name="PAT_STATE">
              <ion-option *ngFor="let STATE of STATES" value="{{STATE}}">{{STATE}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div *ngIf="PATIENT && PATIENT?.PAT_KIND !=='NONE'">
          <h3>{{LANGUAGES.lbBasicInformation[LANG]}}:</h3>
          <ion-item>
            <ion-label>{{LANGUAGES.lbLastName[LANG]}} <span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_LNAME ==''}"> *</span>:
            </ion-label>
            <ion-input required [(ngModel)]="PATIENT.PAT_LNAME" name="PAT_LNAME" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbFirstName[LANG]}}<span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_FNAME ==''}"> *</span>:
            </ion-label>
            <ion-input required [(ngModel)]="PATIENT.PAT_FNAME" name="PAT_FNAME" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbDateOfBirth[LANG]}}<span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_YoB ==''}"> *</span>:
            </ion-label>
            <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_YoB" name="PAT_YoB">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbGender[LANG]}}<span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_SEX ==''}"> *</span>:
            </ion-label>
            <ion-select required [(ngModel)]="PATIENT.PAT_SEX" name="PAT_SEX">
              <ion-option value="Male">{{LANGUAGES.lbMale[LANG]}}</ion-option>
              <ion-option value="Female">{{LANGUAGES.lbFeMale[LANG]}}</ion-option>
              <ion-option value="Other">{{LANGUAGES.lbOther[LANG]}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbTel[LANG]}}<span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_TEL ==''}"> *</span>:
            </ion-label>
            <ion-input required [(ngModel)]="PATIENT.PAT_TEL" name="PAT_TEL" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{LANGUAGES.lbResidentId[LANG]}}<span
                [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_RES_ID ==''}"> *</span>:
            </ion-label>
            <ion-input required [(ngModel)]="PATIENT.PAT_RES_ID" name="PAT_RES_ID" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <h4>
              {{LANGUAGES.lbResidenceAddress[LANG]}} <span (click)="go2SetLocationForResidentAdd()">
                <ion-icon name="md-create"></ion-icon>
              </span>
            </h4>
            <ion-grid>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbProvince[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_HOME_LOC.CITY}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbDistrict[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_HOME_LOC.DIST}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbWard[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_HOME_LOC.WARD}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbAddress[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_HOME_ADDRESS}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{LANGUAGES.lbSameToAboveContact[LANG]}}:</ion-label>
            <ion-toggle [(ngModel)]="toggleValue" name="toggleValue" (ionChange)="updateToggleValue()"></ion-toggle>
          </ion-item>

          <ion-item>
            <h4>
              {{LANGUAGES.lbMailingAddress[LANG]}} <span (click)="go2SetLocationForMailingAdd()">
                <ion-icon name="md-create"></ion-icon>
              </span>
            </h4>
            <ion-grid>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbProvince[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_CONTACT_LOC.CITY}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbDistrict[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_CONTACT_LOC.DIST}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbWard[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_CONTACT_LOC.WARD}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left>
                  {{LANGUAGES.lbAddress[LANG]}}:
                </ion-col>
                <ion-col text-right>
                  <strong>{{PATIENT.PAT_CONTACT_ADDRESS}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- NEW NON-AMPUTEE -->
          <div *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
            <h3>{{LANGUAGES.lbNonAmputeeInformation[LANG]}}:</h3>
            <ion-item>
              <ion-label>{{LANGUAGES.lbYearOfDisability[LANG]}}<span
                  [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_DISABLED_YEAR ==''}">
                  *</span>:
              </ion-label>
              <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_YEAR"
                name="PAT_DISABLED_YEAR">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>{{LANGUAGES.lbTypeOfDisability[LANG]}}<span
                  [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_DISABLED_TYPE ==''}"> *</span>:
              </ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_DISABLED_TYPE" name="PAT_DISABLED_TYPE" type="text">
              </ion-input>
            </ion-item>
            <ion-item>
              <h4>{{LANGUAGES.lbDisabledParts[LANG]}}:
                <span (click)="modalDisabledParts()">
                  <ion-icon name="md-create"></ion-icon>
                </span>
              </h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_DISABLED_PARTS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
            <ion-item>
              <h4>{{LANGUAGES.lbDisabledReasons[LANG]}}:
                <span (click)="modalDisabledReasons()">
                  <ion-icon name="md-create"></ion-icon>
                </span>
              </h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_DISABLED_REASONS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
            <ion-item>
              <ion-label text-wrap>{{LANGUAGES.lbReceivedSupportBefore[LANG]}}</ion-label>
              <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED" name="PAT_DISABLED_SUPPORT_RECEIVED"
                checked="false"></ion-toggle>
            </ion-item>
            <div *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED">
              <ion-item>
                <ion-label text-wrap>{{LANGUAGES.lbTypeSupportBefore[LANG]}}</ion-label>
                <ion-input [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_TYPE" name="PAT_DISABLED_SUPPORT_TYPE" type="text">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label>{{LANGUAGES.lbYearOfReceivedSupport[LANG]}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR"
                  name="PAT_DISABLED_SUPPORT_RECEIVED_YEAR">
                </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>{{LANGUAGES.lbYearOfLastSupport[LANG]}}<span
                  [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR ==''}"> *</span></ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR"
                  name="PAT_DISABLED_LAST_SUPPORT_YEAR">
                </ion-datetime>
              </ion-item>
              <ion-item>
                <h4>{{LANGUAGES.lbDisabledLastSponsers[LANG]}}
                  <span (click)="modalDisabledSponsors()">
                    <ion-icon name="md-create"></ion-icon>
                  </span>
                </h4>
                <ul>
                  <li *ngFor="let item of PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS">{{item[LANG]}}</li>
                </ul>
              </ion-item>
            </div>
          </div>

          <!-- NEW AMPUTEE-->
          <div *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
            <h3>{{LANGUAGES.lbAmputeeInformation[LANG] | uppercase}}:</h3>
            <ion-item>
              <ion-label>{{LANGUAGES.lbAmputationDate[LANG]}}<span
                  [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_AMPUTATION_YEAR ==''}">
                  *</span>:
              </ion-label>
              <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_YEAR"
                name="PAT_AMPUTATION_YEAR"></ion-datetime>
            </ion-item>
            <ion-item>
              <h4>{{LANGUAGES.lbAmputationLevel[LANG]}}:
                <span (click)="modalAmpLevels()">
                  <ion-icon name="md-create"></ion-icon>
                </span>
              </h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_AMPUTATION_PARTS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
            <ion-item>
              <h4>{{LANGUAGES.lbAmputationCauses[LANG]}}:
                <span (click)="modalAmpCauses()">
                  <ion-icon name="md-create"></ion-icon>
                </span>
              </h4>
              <ul>
                <li *ngFor="let item of PATIENT.PAT_AMPUTATION_REASONS">{{item[LANG]}}</li>
              </ul>
            </ion-item>
            <ion-item>
              <ion-label text-wrap>{{LANGUAGES.lbHowManyProsthesesYouGot[LANG]}}</ion-label>
              <ion-input [(ngModel)]="PATIENT.PAT_AMPUTATION_LEGS" name="PAT_AMPUTATION_LEGS" type="number">
              </ion-input>
            </ion-item>
            <div *ngIf="PATIENT.PAT_AMPUTATION_LEGS !=='0' && PATIENT.PAT_AMPUTATION_LEGS !==''">
              <ion-item>
                <ion-label text-wrap>{{LANGUAGES.lbLastFittingDate[LANG]}}<span
                  [ngClass]="{force_red: !isInfoFullFilled()&&btnSendClick && PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR ==''}">
                  *</span>:</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR"
                  name="PAT_AMPUTATION_LAST_LEG_YEAR"></ion-datetime>
              </ion-item>

              <ion-item>
                <h4>{{LANGUAGES.lbWhoPaidForThatFitting[LANG]}}:
                  <span (click)="modalWhoPaid()">
                    <ion-icon name="md-create"></ion-icon>
                  </span>
                </h4>
                <ul>
                  <li *ngFor="let item of PATIENT.PAT_AMPUTATION_LAST_SPONSORS">{{item[LANG]}}</li>
                </ul>
              </ion-item>
            </div>
          </div>

          <div>
            <h3>{{LANGUAGES.lbOther[LANG] | uppercase}}:</h3>
            <ion-item>
              <h4>{{LANGUAGES.lbYouCurrentJob[LANG]}}:
                <span (click)="modalJobs()">
                  <ion-icon name="md-create"></ion-icon>
                </span>
              </h4>
              <ul>
                <li>{{PATIENT.PAT_JOB[LANG]}}</li>
              </ul>
            </ion-item>
            <ion-item *ngIf="PATIENT.PAT_JOB.EN=='Other'">
              <ion-label>{{LANGUAGES.lbJobOther[LANG]}}:</ion-label>
              <ion-input [(ngModel)]="PATIENT.PAT_JOB_OTHER" name="PAT_JOB_OTHER" type="text"></ion-input>
            </ion-item>
          </div>
        </div>
        <div *ngIf="USER">
          <div text-center *ngIf="USER.U_ROLE=='Referral'">
            <button *ngIf="PATIENT.PAT_KIND !=='NONE'" ion-button block (click)="addPatient()"
              class="btn-green-case-information">{{LANGUAGES.lbSubmitToReferralLead[LANG]}}</button>
          </div>
          <div text-center *ngIf="USER.U_ROLE=='MoveAbility'">
            <button *ngIf="ACTION =='update'" ion-button block (click)="updatePatient()"
              [disabled]="f.invalid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>