<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{lbCaseCreation[LANG]}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveDraft()">
        <ion-icon name="md-bookmarks"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="main">
    <div class="content">
      <form #f="ngForm">
        <div *ngIf="PATIENT">
          <ion-item no-lines>
            <ion-label stacked>{{lbKindOfPatient[LANG]}}:</ion-label>
            <ion-select [(ngModel)]="PATIENT.PAT_KIND" name="PAT_KIND">
              <ion-option value="NONE"></ion-option>
              <ion-option value="NON AMPUTEE">{{lbNonAmputee[LANG]}}</ion-option>
              <ion-option value="AMPUTEE">{{lbAmputee[LANG]}}</ion-option>
            </ion-select>
          </ion-item> <br>
        </div>
        <div *ngIf="PATIENT && PATIENT?.PAT_KIND !=='NONE'">
          <ion-list>
            <ion-list-header no-lines>
              <h3>
                {{lbBasicInformation[LANG]}}:
              </h3>
            </ion-list-header>
            <ion-item no-lines>
              <ion-label stacked>{{lbLastName[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_LNAME" name="PAT_LNAME" type="text"></ion-input>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbFirstName[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_FNAME" name="PAT_FNAME" type="text"></ion-input>
            </ion-item> <br>
            <ion-item no-lines>
              <!-- <ion-input [(ngModel)]="PATIENT.PAT_YoB" name="PAT_YoB" type="text" placeholder="Year of Birth"></ion-input> -->
              <ion-label stacked>{{lbDateOfBirth[LANG]}}:</ion-label>
              <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_YoB" name="PAT_YoB">
              </ion-datetime>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbGender[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_SEX" name="PAT_SEX">
                <ion-option value="MALE">{{lbMale[LANG]}}</ion-option>
                <ion-option value="FEMALE">{{lbFeMale[LANG]}}</ion-option>
                <ion-option value="OTHER">{{lbOther[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbTel[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_TEL" name="PAT_TEL" type="text"></ion-input>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbResidentId[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_RES_ID" name="PAT_RES_ID" type="text"></ion-input>
            </ion-item> <br>
          </ion-list>

          <ion-list>
            <ion-list-header no-lines>
              <h3>
                {{lbMailingAddress[LANG]}}:
              </h3>
            </ion-list-header>
            <ion-item *ngIf="CITIES" no-lines>
            <ion-label stacked>{{lbProvince[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_CITY" name="PAT_CONTACT_CITY">
                <ion-option *ngFor="let CITY of CITIES" value="{{CITY.CCODE}}" (ionSelect)="selectCity(CITY)">
                  {{CITY.CITY}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="DIST_IN_CITY.length>0" style="margin-top: 20px;">
              <ion-label stacked>{{lbDistrict[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_DIST" name="PAT_CONTACT_DIST">
                <ion-option *ngFor="let DIST of DIST_IN_CITY" value="{{DIST.DCODE}}" (ionSelect)="selectDist(DIST)">
                  {{DIST.DIST}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="WARDS_IN_DIST.length>0" style="margin-top: 20px;">
              <ion-label stacked>{{lbWard[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_WARD" name="PAT_CONTACT_WARD">
                <ion-option *ngFor="let WARD of WARDS_IN_DIST" value="{{WARD.WCODE}}" (ionSelect)="selectWard(WARD)">
                  {{WARD.WARD}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbAddress[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_CONTACT_ADDRESS" name="PAT_CONTACT_ADDRESS" type="text">
              </ion-input>
            </ion-item> <br>
          </ion-list>
          <ion-list>
            <ion-item no-lines>
              <ion-label stacked>{{lbSameToAboveContact[LANG]}}:</ion-label>
              <ion-toggle [(ngModel)]="toggleValue" name="toggleValue" (ionChange)="updateToggleValue()"></ion-toggle>
            </ion-item> <br>
          </ion-list>
          <ion-list>
            <ion-list-header no-lines>
              <h3>
                {{lbResidenceAddress[LANG]}}
              </h3>
            </ion-list-header>
            <ion-item no-lines *ngIf="CITIES">
              <ion-label stacked>{{lbProvince[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_HOME_CITY" name="PAT_HOME_CITY">
                <ion-option *ngFor="let CITY of CITIES" value="{{CITY.CCODE}}" (ionSelect)="selectCity(CITY)">
                  {{CITY.CITY}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="DIST_IN_CITY.length>0" style="margin-top: 20px;">
              <ion-label stacked>{{lbDistrict[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_HOME_DIST" name="PAT_HOME_DIST">
                <ion-option *ngFor="let DIST of DIST_IN_CITY" value="{{DIST.DCODE}}" (ionSelect)="selectDist(DIST)">
                  {{DIST.DIST}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="WARDS_IN_DIST.length>0" style="margin-top: 20px;">
              <ion-label stacked>{{lbWard[LANG]}}:</ion-label>
              <ion-select required [(ngModel)]="PATIENT.PAT_HOME_WARD" name="PAT_HOME_WARD">
                <ion-option *ngFor="let WARD of WARDS_IN_DIST" value="{{WARD.WCODE}}" (ionSelect)="selectWard(WARD)">
                  {{WARD.WARD}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbAddress[LANG]}}:</ion-label>
              <ion-input required [(ngModel)]="PATIENT.PAT_HOME_ADDRESS" name="PAT_HOME_ADDRESS" type="text">
              </ion-input>
            </ion-item> <br>
          </ion-list>
          <ion-list *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
            <ion-list-header no-lines>
              <h3>
                {{lbAmputeeInformation[LANG]}}:
              </h3>
            </ion-list-header>
            <ion-item no-lines>
              <ion-label stacked>{{lbYearOfDisability[LANG]}}</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_YEAR" name="PAT_DISABLED_YEAR">
              </ion-datetime>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbTypeOfDisability[LANG]}}</ion-label>
              <ion-input [(ngModel)]="PATIENT.PAT_DISABLED_TYPE" name="PAT_DISABLED_TYPE" type="text"></ion-input>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbDisabledParts[LANG]}}:</ion-label>
              <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_PARTS" name="PAT_DISABLED_PARTS" multiple="true"
                cancelText="Cancel" okText="OK">
                <ion-option *ngFor="let PART of DISABLED_PARTS" [value]="PART">{{PART[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbDisabledReasons[LANG]}}:</ion-label>
              <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_REASONS" name="PAT_DISABLED_REASONS" multiple="true"
                cancelText="Cancel" okText="OK">
                <ion-option *ngFor="let REASON of DISABLED_REASONS" [value]="REASON">{{REASON[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbReceivedSupportBefore[LANG]}}:</ion-label>
              <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED" name="PAT_DISABLED_SUPPORT_RECEIVED"
                checked="false"></ion-toggle>
            </ion-item> <br>
            <div *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED">
              <ion-item no-lines>
                <ion-label stacked>{{lbTypeSupportBefore[LANG]}}:</ion-label>
                <ion-input [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_TYPE" name="PAT_DISABLED_SUPPORT_TYPE" type="text">
                </ion-input>
              </ion-item> <br>
              <ion-item no-lines>
                <ion-label stacked>{{lbYearOfReceivedSupport[LANG]}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR"
                  name="PAT_DISABLED_SUPPORT_RECEIVED_YEAR"></ion-datetime>
              </ion-item>
              <br>
              <ion-item no-lines>
                <ion-label stacked>{{lbYearOfLastSupport[LANG]}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR"
                  name="PAT_DISABLED_LAST_SUPPORT_YEAR"></ion-datetime>
              </ion-item> <br>
              <ion-item no-lines>
                <ion-label stacked>{{lbDisabledLastSponsers[LANG]}}:</ion-label>
                <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS"
                  name="PAT_DISABLED_LAST_SUPPORT_SPONSORS" multiple="true" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let SPONSOR of DISABLED_SPONSORS" [value]="SPONSOR">{{SPONSOR[LANG]}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <br>
          </ion-list>
          <ion-list *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
            <ion-list-header no-lines>
              <h3>
                {{lbAmputeeInformation[LANG]}}:
              </h3>
            </ion-list-header>
            <ion-item no-lines>
              <ion-label stacked>{{lbAmputationDate[LANG]}}</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_YEAR"
                name="PAT_AMPUTATION_YEAR"></ion-datetime>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbAmputationLevel[LANG]}}:</ion-label>
              <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_PARTS" multiple="true" okText="OK"
                name="PAT_AMPUTATION_PARTS">
                <ion-option *ngFor="let AMPUTATION_PART of AMPUTATION_PARTS" [value]="AMPUTATION_PART">
                  {{AMPUTATION_PART[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbAmputationCauses[LANG]}}:</ion-label>
              <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_REASONS" okText="OK" name="PAT_AMPUTATION_REASONS"
                multiple="true" cancelText="Cancel">
                <ion-option *ngFor="let AMPUTATION_REASON of AMPUTATION_REASONS" [value]="AMPUTATION_REASON">
                  {{AMPUTATION_REASON[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
            <ion-item no-lines>
              <ion-label stacked>{{lbHowManyProsthesesYouGot[LANG]}}</ion-label>
              <ion-input [(ngModel)]="PATIENT.PAT_AMPUTATION_LEGS" name="PAT_AMPUTATION_LEGS" type="number"></ion-input>
            </ion-item> <br>
            <div *ngIf="PATIENT.PAT_AMPUTATION_LEGS !=='0' && PATIENT.PAT_AMPUTATION_LEGS !==''">
              <ion-item no-lines>
                <ion-label stacked>{{lbLastFittingDate[LANG]}}:</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR"
                  name="PAT_AMPUTATION_LAST_LEG_YEAR"></ion-datetime>
              </ion-item> <br>
              <ion-item no-lines>
                <ion-label stacked>{{lbWhoPaidForThatFitting[LANG]}}</ion-label>
                <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_LAST_SPONSORS" name="PAT_AMPUTATION_LAST_SPONSORS"
                  multiple="true" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let AMPUTATION_SPONSOR of AMPUTATION_SPONSORS" [value]="AMPUTATION_SPONSOR">
                    {{AMPUTATION_SPONSOR[LANG]}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <br>
          </ion-list>
          <ion-list>
            <ion-list-header no-lines>
              <h3>
                {{lbOther[LANG]}}:
              </h3>
            </ion-list-header>
            <ion-item no-lines>
              <ion-label stacked>{{lbYouCurrentJob[LANG]}}:</ion-label>
              <!-- <ion-input required [(ngModel)]="PATIENT.PAT_JOB" name="PAT_JOB" type="text" placeholder="What job?"></ion-input> -->
              <ion-select [(ngModel)]="PATIENT.PAT_JOB" okText="OK" name="PATIENT.PAT_JOB">
                <ion-option *ngFor="let PAT_JOB of JOBS" [value]="PAT_JOB">{{PAT_JOB[LANG]}}</ion-option>
              </ion-select>
            </ion-item> <br>
          </ion-list>
        </div>
        <div text-center>
          <button *ngIf="ACTION =='add-new' && PATIENT.PAT_KIND !=='NONE'" ion-button block (click)="addPatient()"
            [disabled]="f.invalid" class="btn-green-case-information">{{lbSubmitToReferralLead[LANG]}}</button>
          <button *ngIf="ACTION =='update'" ion-button block (click)="updatePatient()" [disabled]="f.invalid"
            class="btn-green-case-information">{{lbUpdatePatient[LANG]}}</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>