<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CASE CREATION</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveDraft()">
        <ion-icon name="md-bookmarks"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <div *ngIf="PATIENT">
      <ion-item>
        <ion-label>Kind of Patient:</ion-label>
        <ion-select [(ngModel)]="PATIENT.PAT_KIND" name="PAT_KIND">
          <ion-option value="NONE"></ion-option>
          <ion-option value="NON AMPUTEE">NON AMPUTEE</ion-option>
          <ion-option value="AMPUTEE">AMPUTEE</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="PATIENT && PATIENT.PAT_KIND !=='NONE'">
      <ion-list>
        <ion-list-header>
          BASIC INFORMATION:
        </ion-list-header>
        <ion-item>
          <ion-label>First Name:</ion-label>
          <ion-input required [(ngModel)]="PATIENT.PAT_FNAME" name="PAT_FNAME" type="text" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name:</ion-label>
          <ion-input required [(ngModel)]="PATIENT.PAT_LNAME" name="PAT_LNAME" type="text" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item>
          <!-- <ion-input [(ngModel)]="PATIENT.PAT_YoB" name="PAT_YoB" type="text" placeholder="Year of Birth"></ion-input> -->
          <ion-label>Date of Birth</ion-label>
          <ion-datetime required displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_YoB" name="PAT_YoB"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Gender:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_SEX" name="PAT_SEX">
            <ion-option value="MALE">MALE</ion-option>
            <ion-option value="FEMALE">FEMALE</ion-option>
            <ion-option value="OTHER">OTHER</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Tel:</ion-label>
          <ion-input required [(ngModel)]="PATIENT.PAT_TEL" name="PAT_TEL" type="text" placeholder="Telephone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Resident ID:</ion-label>
          <ion-input required [(ngModel)]="PATIENT.PAT_RES_ID" name="PAT_RES_ID" type="text" placeholder="President ID"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>
          MAILING ADDRESS:
        </ion-list-header>
        <ion-item *ngIf="CITIES">
          <ion-label>PROVINCE:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_CITY" name="PAT_CONTACT_CITY">
            <ion-option *ngFor="let CITY of CITIES" value="{{CITY.CCODE}}" (ionSelect)="selectCity(CITY)">{{CITY.CITY}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="DIST_IN_CITY.length>0">
          <ion-label>DISTRICT:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_DIST" name="PAT_CONTACT_DIST">
            <ion-option *ngFor="let DIST of DIST_IN_CITY" value="{{DIST.DCODE}}" (ionSelect)="selectDist(DIST)">{{DIST.DIST}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="WARDS_IN_DIST.length>0">
          <ion-label>WARD:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_CONTACT_WARD" name="PAT_CONTACT_WARD">
            <ion-option *ngFor="let WARD of WARDS_IN_DIST" value="{{WARD.WCODE}}" (ionSelect)="selectWard(WARD)">{{WARD.WARD}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input required [(ngModel)]="PATIENT.PAT_CONTACT_ADDRESS" name="PAT_CONTACT_ADDRESS" type="text" placeholder="Address"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Same to above contact:</ion-label>
          <ion-toggle [(ngModel)]="toggleValue" name="toggleValue" (ionChange)="updateToggleValue()"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          RESIDENCE ADDRESS:
        </ion-list-header>
        <ion-item *ngIf="CITIES">
          <ion-label>PROVINCE:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_HOME_CITY" name="PAT_HOME_CITY">
            <ion-option *ngFor="let CITY of CITIES" value="{{CITY.CCODE}}" (ionSelect)="selectCity(CITY)">{{CITY.CITY}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="DIST_IN_CITY.length>0">
          <ion-label>DISTRICT:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_HOME_DIST" name="PAT_HOME_DIST">
            <ion-option *ngFor="let DIST of DIST_IN_CITY" value="{{DIST.DCODE}}" (ionSelect)="selectDist(DIST)">{{DIST.DIST}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="WARDS_IN_DIST.length>0">
          <ion-label>WARD:</ion-label>
          <ion-select required [(ngModel)]="PATIENT.PAT_HOME_WARD" name="PAT_HOME_WARD">
            <ion-option *ngFor="let WARD of WARDS_IN_DIST" value="{{WARD.WCODE}}" (ionSelect)="selectWard(WARD)">{{WARD.WARD}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input required [(ngModel)]="PATIENT.PAT_HOME_ADDRESS" name="PAT_HOME_ADDRESS" type="text" placeholder="Address"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="PATIENT.PAT_KIND =='NON AMPUTEE'">
        <ion-list-header>
          NON AMPUTEE:
        </ion-list-header>
        <ion-item>
          <ion-label>Year of Disability</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_YEAR" name="PAT_DISABLED_YEAR"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="PATIENT.PAT_DISABLED_TYPE" name="PAT_DISABLED_TYPE" type="text" placeholder="Type of Disability"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Disabled Parts:</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_PARTS" name="PAT_DISABLED_PARTS" multiple="true" cancelText="Nah" okText="Okay!">
            <ion-option *ngFor="let PART of DISABLED_PARTS" value="{{PART}}">{{PART}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Disabled Reasons</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_REASONS" name="PAT_DISABLED_REASONS" multiple="true" cancelText="Nah" okText="Okay!">
            <ion-option *ngFor="let REASON of DISABLED_REASONS" value="{{REASON}}">{{REASON}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Received support before?:</ion-label>
          <ion-toggle [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED" name="PAT_DISABLED_SUPPORT_RECEIVED" checked="false"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED">
          <ion-input [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_TYPE" name="PAT_DISABLED_SUPPORT_TYPE" type="text" placeholder="What kind of support received"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Year of Received Support</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_SUPPORT_RECEIVED_YEAR" name="PAT_DISABLED_SUPPORT_RECEIVED_YEAR"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Year of Last Support</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_DISABLED_LAST_SUPPORT_YEAR" name="PAT_DISABLED_LAST_SUPPORT_YEAR"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Disabled Last Sponsors:</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_DISABLED_LAST_SUPPORT_SPONSORS" name="PAT_DISABLED_LAST_SUPPORT_SPONSORS" multiple="true"
            cancelText="Nah" okText="Okay!">
            <ion-option *ngFor="let SPONSOR of DISABLED_SPONSORS" value="{{SPONSOR}}">{{SPONSOR}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="PATIENT.PAT_KIND =='AMPUTEE'">
        <ion-list-header>
          AMPUTEE:
        </ion-list-header>
        <ion-item>
          <ion-label>AMPUTATION DATE</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_YEAR" name="PAT_AMPUTATION_YEAR"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>AMPUTATION LEVEL:</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_PARTS" multiple="true" okText="Okay!" name="PAT_AMPUTATION_PARTS">
            <ion-option *ngFor="let AMPUTATION_PART of AMPUTATION_PARTS" value="{{AMPUTATION_PART}}">{{AMPUTATION_PART}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>AMPUTATION CAUSE:</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_REASONS" okText="Okay!" name="PAT_AMPUTATION_REASONS">
            <ion-option *ngFor="let AMPUTATION_REASON of AMPUTATION_REASONS" value="{{AMPUTATION_REASON}}">{{AMPUTATION_REASON}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="PATIENT.PAT_AMPUTATION_LEGS" name="PAT_AMPUTATION_LEGS" type="text" placeholder="How many prostheses you got?"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>LAST FITTING DATE:</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="PATIENT.PAT_AMPUTATION_LAST_LEG_YEAR" name="PAT_AMPUTATION_LAST_LEG_YEAR"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>WHO PAID FOR THAT FITTING?</ion-label>
          <ion-select [(ngModel)]="PATIENT.PAT_AMPUTATION_LAST_SPONSORS" name="PAT_AMPUTATION_LAST_SPONSORS" multiple="true" cancelText="Nah"
            okText="Okay!">
            <ion-option *ngFor="let AMPUTATION_SPONSOR of AMPUTATION_SPONSORS" value="{{AMPUTATION_SPONSOR}}">{{AMPUTATION_SPONSOR}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          OTHER:
        </ion-list-header>
        <ion-item>
          <ion-label>YOUR CURRENT JOB:</ion-label>
          <!-- <ion-input required [(ngModel)]="PATIENT.PAT_JOB" name="PAT_JOB" type="text" placeholder="What job?"></ion-input> -->
          <ion-select [(ngModel)]="PATIENT.PAT_JOB" okText="Okay!" name="PAT_JOB">
            <ion-option *ngFor="let PAT_JOB of JOBS" value="{{PAT_JOB}}">{{PAT_JOB}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <button *ngIf="ACTION =='add-new'" ion-button block (click)="addPatient()" [disabled]="f.invalid">Add Patient</button>
    <button *ngIf="ACTION =='update'" ion-button block (click)="updatePatient()" [disabled]="f.invalid">Update Patient</button>
  </form>
</ion-content>