page-case-information-fill {
    // ion-item ion-label{
    //     color: #71BF45;
    // }

    .select-text, .datetime-text{
        color: #71BF45;
    }

    input.text-input{
        color: #71BF45;
        text-align: right;
    }
}
