<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
    <ion-buttons end *ngIf="isFiltered()">
      <button ion-button (click)="doFilter()">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main">
    <div class="content">
      <div *ngIf="OPTION != 'WAITING'">
        <!-- <ion-item *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)" no-lines>
          <ion-grid>
            <ion-row class="case-boder">
              <ion-col col-4 class="case-img">
                <div class="avatar">
                  <img src="../../assets/imgs/user_case.png">
                </div>
                <div class="cls"></div>

              </ion-col>
              <ion-col col-8 class="case-info">
                <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
                <h4>{{PAT.PAT_KIND}}</h4>
                <p>{{PAT.PAT_HOME_LOC.DIST}}-{{PAT.PAT_HOME_LOC.CITY}}</p>
                <div class="item-state" [ngClass]="PAT.PAT_STATE">
                  <p>{{PAT.PAT_STATE}}</p>
                  <p>{{PAT.PAT_INV_FROM}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> -->

        <ion-card *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/user_case.png">
            </ion-avatar>
            <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}}</h2>
            <p>{{PAT.PAT_KIND}}</p>
            <!-- <button ion-button outline item-end  [ngClass]="PAT.PAT_STATE" ><span>{{PAT.PAT_STATE}}</span></button> -->
            <span item-end class="PAT_STATE" [ngClass]="PAT.PAT_STATE">{{PAT.PAT_STATE}}</span>
          </ion-item>

          <!-- <img src="img/advance-card-bttf.png"> -->

          <ion-card-content>
            <p>{{PAT.PAT_HOME_LOC?.DIST}}, {{PAT.PAT_HOME_LOC?.CITY}}</p>
            <p>{{LANGUAGES.lbCreatedOn[LANG]}}: {{PAT.PAT_DATE_CREATE |date:'dd/MM/yyyy' }}</p>
            <p>{{LANGUAGES.lbInvitedOn[LANG]}}: {{PAT.PAT_INV_FROM|date:'dd/MM/yyyy' }}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="ios-create"></ion-icon>
                <div>{{PAT.PAT_NOTES.length}} {{LANGUAGES.lbNotes[LANG]}}</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="md-chatboxes"></ion-icon>
                <div>{{PAT.PAT_QUESTIONS.length}} {{LANGUAGES.lbQuestions[LANG]}}</div>
              </button>
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                {{LANGUAGES.lbMore[LANG]}}
              </ion-note>
            </ion-col>
          </ion-row>

        </ion-card>
      </div>
      <div *ngIf="OPTION =='WAITING'">
        <ion-item>
          <ion-label>{{LANGUAGES.lbValidFrom[LANG]}}:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="FROM"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{LANGUAGES.lbValidTo[LANG]}}:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="TO"></ion-datetime>
        </ion-item>
        <br>
        <br>

        <ion-item *ngFor="let PAT of PATIENTS" (click)="setSelected(PAT)">
          <ion-avatar item-start>
            <img src="../../assets/imgs/user.png">
          </ion-avatar>
          <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
          <h3><span *ngFor="let Part of PAT.PAT_DISABLED_PARTS">{{Part[LANG]}}</span></h3>
          <h3><span *ngFor="let Reason of PAT.PAT_DISABLED_REASONS">{{Reason[LANG]}}</span></h3>
          <span item-end>
            <ion-icon *ngIf="!PAT.PAT_isSELECTED" name="md-checkbox" color="light"></ion-icon>
            <ion-icon *ngIf="PAT.PAT_isSELECTED" name="md-checkbox" color="primary"></ion-icon>
          </span>
        </ion-item>


        <!-- <ion-item *ngFor="let PAT of PATIENTS" (click)="setSelected(PAT)" no-lines>
          <ion-grid>
            <ion-row class="case-boder">
              <ion-col col-4 class="case-img">
                <div class="avatar">
                  <img src="../../assets/imgs/user_case.png">
                </div>
                <div class="cls"></div>

              </ion-col>
              <ion-col col-8 class="case-info">
                <h2>{{PAT.PAT_FNAME}} {{PAT.PAT_LNAME}} </h2>
                <h3>{{PAT.PAT_DISABLED_PARTS[0]}}</h3>
                <h3>{{PAT.PAT_DISABLED_REASONS}}</h3>
                <p item-end class="item-state">
                  <ion-icon *ngIf="!PAT.PAT_isSELECTED" name="md-checkbox" color="light"></ion-icon>
                  <ion-icon *ngIf="PAT.PAT_isSELECTED" name="md-checkbox" color="primary"></ion-icon>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block color="danger" (click)="cancel()" class="btn-green-moveability">Cancel</button>
            </ion-col>
            <ion-col>
              <button [disabled]="!PATIENTS2UPDATE.length>0" ion-button block (click)="sendInvitationConfirm()"
                class="btn-green-moveability">{{LANGUAGES.lbSendInvitation[LANG]}}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>