<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
    <ion-buttons end *ngIf="isFiltered()">
      <button ion-button (click)="doFilter()">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main">
    <div class="content">
      <div *ngIf="OPTION != 'WAITING'">
        <ion-card *ngFor="let PAT of PATIENTS" (click)="go2CaseView(PAT)">
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/user_case.png">
            </ion-avatar>
            <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}}</h2>
            <p>{{PAT.PAT_KIND}}</p>
            <span item-end class="PAT_STATE" [ngClass]="PAT.PAT_STATE">{{PAT.PAT_STATE}}</span>
          </ion-item>
          <ion-card-content>
            <p>{{PAT.PAT_HOME_LOC?.DIST}}, {{PAT.PAT_HOME_LOC?.CITY}}</p>
            <p>{{LANGUAGES.lbCreatedOn[LANG]}}: {{PAT.PAT_DATE_CREATE |date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='SUBMITTED'">{{LANGUAGES.lbSUBMITTEDOn[LANG]}}:
              {{PAT.PAT_SUBMITTED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='ACCEPTED'">{{LANGUAGES.lbACCEPTEDOn[LANG]}}:
              {{PAT.PAT_ACCEPTED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='DENIED'">{{LANGUAGES.lbDENIEDOn[LANG]}}: {{PAT.PAT_DENIED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='APPROVED'">{{LANGUAGES.lbAPPROVEDOn[LANG]}}:
              {{PAT.PAT_APPROVED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='REJECTED'">{{LANGUAGES.lbREJECTEDOn[LANG]}}:
              {{PAT.PAT_REJECTED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='INVITED'">{{LANGUAGES.lbInvitedOn[LANG]}}: {{PAT.PAT_INVITED|date:'dd/MM/yyyy' }}
            </p>
            <p *ngIf="PAT.PAT_STATE=='UNDER TREATMENT'">{{LANGUAGES.lbUNDERTREATMENTOn[LANG]}}:
              {{PAT.PAT_UNDERTREATMENT|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='PAYMENT REQUEST'">{{LANGUAGES.lbPAYMENTREQUESTOn[LANG]}}:
              {{PAT.PAT_PAYMENTREQUEST|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='PAYMENT APPROVED'">{{LANGUAGES.lbPAYMENTAPPROVEDOn[LANG]}}:
              {{PAT.PAT_PAYMENTAPPROVED|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='PAID'">{{LANGUAGES.lbPAIDOn[LANG]}}: {{PAT.PAT_PAID|date:'dd/MM/yyyy' }}</p>
            <p *ngIf="PAT.PAT_STATE=='CLOSED'">{{LANGUAGES.lbCLOSEDOn[LANG]}}: {{PAT.PAT_CLOSED|date:'dd/MM/yyyy' }}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="ios-create"></ion-icon>
                <div>{{PAT.PAT_NOTES.length}} {{LANGUAGES.lbNotes[LANG]}}</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="md-chatboxes"></ion-icon>
                <div>{{PAT.PAT_QUESTIONS.length}} {{LANGUAGES.lbQuestions[LANG]}}</div>
              </button>
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                {{LANGUAGES.lbMore[LANG]}}
              </ion-note>
            </ion-col>
          </ion-row>

        </ion-card>
      </div>
      <div *ngIf="OPTION =='WAITING'">
        <ion-item>
          <ion-label>{{LANGUAGES.lbValidFrom[LANG]}}:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="FROM"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{LANGUAGES.lbValidTo[LANG]}}:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="TO"></ion-datetime>
        </ion-item>
        <br>
        <br>

        <ion-item *ngFor="let PAT of PATIENTS" (click)="setSelected(PAT)">
          <ion-avatar item-start>
            <img src="../../assets/imgs/user.png">
          </ion-avatar>
          <h2>{{PAT.PAT_LNAME}} {{PAT.PAT_FNAME}} </h2>
          <h3>{{PAT.PAT_KIND}}</h3>
          <h4>{{PAT.PAT_CONTACT_LOC.DIST}}, {{PAT.PAT_CONTACT_LOC.CITY}}</h4>
          <span item-end>
            <ion-icon *ngIf="!PAT.PAT_isSELECTED" name="md-checkbox" color="light"></ion-icon>
            <ion-icon *ngIf="PAT.PAT_isSELECTED" name="md-checkbox" color="primary"></ion-icon>
          </span>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block color="danger" (click)="cancel()" class="btn-green-moveability">Cancel</button>
            </ion-col>
            <ion-col>
              <button [disabled]="!PATIENTS2UPDATE.length>0" ion-button block (click)="sendInvitationConfirm()"
                class="btn-green-moveability">{{LANGUAGES.lbSendInvitation[LANG]}}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>